<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="FILE_JSON" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {
                "app": "enterprise-bridge",
                "env": "local",
                "tenant": "starfleet-demo"
                }
            </customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE_JSON"/>
    </root>
</configuration>
